/* Acknowledgements Section Styles */
.acknowledgements-section {
    text-align: center;
    margin-top: 2rem;
    padding: 1.5rem;
    background-color: var(--background-dark);
    color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    
}

.acknowledgements-section h2 {
    font-size: 1.8rem;
    color: var(--accent-color);
    margin-bottom: 1rem;
    text-align: center;
}

.acknowledgements-section p {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #fff;
}

.acknowledgements-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.acknowledgements-section ul li {
    margin-bottom: 0.8rem;
    font-size: 1rem;
}

.acknowledgements-section ul li a {
    color: var(--accent-color);
    text-decoration: none;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    transition: color 0.3s ease;
}

.acknowledgements-section ul li a:hover {
    color: var(--text-muted);
    transform: scale(1.2);
}

.acknowledgements-section ul li a .link-icon {
    margin-left: 0.5rem;
    color: var(--accent-color);
    font-size: 1rem;
    transform: scale(1);
    transition: transform 0.3s ease;
}

.acknowledgements-section ul li a:hover .link-icon {
    color: var(--text-muted);
    transform: scale(1.2);
}

.link-icon {
    margin-left: 0.5rem; /* Space between the text and the icon */
    font-size: 1rem; /* Adjust the size */
    color: var(--accent-color); /* Icon color */
    transition: transform 0.3s ease, color 0.3s ease; /* Smooth transitions */
}


@media (max-width: 768px) {
    .acknowledgements-section h2 {
        text-align: center; /* Explicitly center the text */
        margin: 0 auto 1rem; /* Center the margin on mobile */
        font-size: 1.5rem; /* Adjust font size for smaller screens */
    }
}

