/* Acknowledgements Section Styles */
.acknowledgements-section {
    text-align: center;
    margin-top: 2rem;
    padding: 1.5rem;
    background-color: var(--background-dark);
    color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.acknowledgements-section h2 {
    font-size: 1.8rem;
    color: var(--accent-color);
    margin-bottom: 1rem;
    text-align: center;
}

.acknowledgements-section p {
    font-size: 1rem;
    margin-bottom: 0.5rem;

    color: var(--text-muted);
}

.acknowledgements-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
    vertical-align: middle;
}

.acknowledgements-section ul li {
    margin-bottom: 0.8rem;
    font-size: 1.3rem;
}

.acknowledgements-section ul li a {

    text-decoration: none;
    font-weight: bold;
    display: inline-flex;
    padding: 0.5rem 1rem;
    align-items: center;
    transition: color 0.3s ease;
} 

.acknowledgements-section ul li a i {
    margin-left: 1rem; /* Space between the icon and the text */
    margin-bottom: 0.3rem; 
    text-align: center;
}





@media (max-width: 768px) {
    .acknowledgements-section h2 {
        text-align: center; /* Explicitly center the text */
        margin: 0 auto 1rem; /* Center the margin on mobile */
        font-size: 1.5rem; /* Adjust font size for smaller screens */
    }
}
