.bri-link {
    text-decoration: none;
    font-weight: bold;
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text; /* Clips gradient to text for WebKit browsers */
    background-clip: text; /* Standard property for other browsers */
    -webkit-text-fill-color: transparent; /* Makes text transparent to show gradient */
}
  
.bri-link i {
    margin-left: 0rem;
    align-items: middle;
    color: inherit; /* Inherits rainbow gradient from parent */
    font-size: 1.0rem;
    vertical-align: middle;
    position: relative;
    top: 0.2rem;
}


.kristy-link {
    color: #BB86FC; 
    text-decoration: none; 
}
  

.kristy-link {
    color: #BB86FC ; 
    text-decoration: none; 
}

.kristy-link i {
    margin-left: 0.5rem; 
    align-items: middle;
    color: inherit; 
    font-size: 1.0rem;
    vertical-align: middle; 
    position: relative; 
    top: 0.2rem; 
}

.chad-link {
    color: #860034; 
    text-decoration: none;

}

.chad-link i {
    margin-left: 0rem; 
    align-items: middle;
    color: inherit ; 
    font-size: 1.0rem;
    transition: transform 0.3s ease, color 0.3s ease;
    vertical-align: middle; 
    position: relative;
    top: 0.2rem; 
}