/* Footer Styling */
.footer {
    width: 100%; 
    text-align: center; /* Center-align all text inside the footer */
    padding: 30px; /* Add vertical padding inside the footer */
    background:  linear-gradient(135deg, rgba(10, 10, 10, 0.8), var(--background-alt) 50%, rgba(100, 255, 218, 0.1));
    backdrop-filter: blur(5px);
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
    border-top: 2px solid var(--background-color);
}

.footer p {
    font-size: 0.9rem;
    margin: 5px 0; 
    color: var(--text-muted); 
}

.footer a {
    color: var(--accent-color); 
    text-decoration: none; 
    font-weight: bold; 
    transition: color 0.3s ease; 
}

.footer a:hover {
    color: var(--text-muted);
    text-decoration: underline;
}

