header {
  background: radial-gradient(
      ellipse at center, /* Horizontal oval shape centered */
      var(--accent-color) 20%, 
      var(--background-color) 70%, 
      var(--background-alt) 100%
  );
  text-align: center;
  padding: 3rem 1rem;
  color: var(--background-alt);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: relative;
  overflow: hidden;
  width: 100%;
}

  
  header h1, h2, h3 {
    font-size: 3.0rem;
    font-family: 'Jetbrains Mono', monospace;
    margin: 0;
    position: relative;
    z-index: 1;
    animation: headerFadeIn 1.2s ease-out; /* Subtle fade-in for the header */
    
  }

  header h1::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    margin: 0.5rem auto;
    border-radius: 4px;
    background: linear-gradient(
        to right,
        var(--background-alt) 10%,
        var(--background-color) 40%,
        var(--light-grey) ,
        var(--background-color) 60%,
        var(--background-color) 90%
    );
}

  
  header p {
    font-size: 1.5rem;
    margin: 1rem 0 0;
    z-index: 1;
    animation: headerFadeIn 1.2s ease-out;
    text-align: center;
  }

  .header p::before {
    content: '';
    display: block;
    height: 2px;
    width: 50%;
    margin: 10px auto 20px auto;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  width: 100%; 
  height: 100%; 
}
