header {
  text-align: center;
  padding: 2rem;
  width: 100vw; /* Ensure the header spans the full width of the viewport */
  background: radial-gradient(circle, rgba(63, 191, 191, 1) 0%, rgba(8, 8, 8, 1) 70%);
  color: #fff;
  border-bottom: 5px solid var(--accent-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  position: relative;
}

header h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

header p {
  font-size: 1.5rem;
  font-weight: lighter;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  margin-top: 0.5rem;
}

header h1::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  margin: 0.5rem auto;
  border-radius: 4px;
  background: linear-gradient(
      to right,
      var(--background-alt) 10%,
      var(--background-color) 40%,
      var(--light-grey) ,
      var(--background-color) 60%,
      var(--background-color) 90%
  );
  width: 50%;
}


.header p::before {
  content: '';
  display: block;
  height: 2px;
  width: 50%;
  margin: 10px auto 20px auto;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  width: 100%; 
  height: 100%; 
}
