research-body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    max-width: 100%;
}

.research-header {
    text-align: center;
    padding: 2rem;
    width: 100vw; /* Make the header span the entire viewport width */
    background: radial-gradient(circle, rgba(63, 191, 191, 1) 0%, rgba(8, 8, 8, 1) 70%);
    color: #fff;
    border-bottom: 5px solid var(--accent-color);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    position: relative; /* Allows layering and positioning within */
    margin: 0; /* Ensure no margin pushes it away from edges */
}

.research-header h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.research-header .subtitle {
    font-size: 1.5rem;
    font-weight: lighter;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    margin-top: 0.5rem;
}


/* Main Container */
.research-container {
    max-width: 100%;
    margin: 2rem auto;
    padding: 2rem;
    background-color: var(--background-alt);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Section Styles */
.research-section {
    margin-bottom: 2rem;
}

.research-section h2 {
    font-size: 1.8rem;
    color: var(--accent-color);
    margin-bottom: 1rem;
    border-bottom: 2px solid var(--accent-color);
    padding-bottom: 0.5rem;
}

.research-section p {
    font-size: 1rem;
    margin-bottom: 1rem;
    line-height: 1.8;
    color: var(--text-muted);
}

.research-section p strong {
    color: var(--accent-color);
}

.research-list {
    list-style: disc;
    margin: 1rem 0;
    padding-left: 1.5rem;
    background-color: var(--background-light);
    transition: background-color 0.3s ease;
}

.research-list:hover {
    background-color: var(--background-dark); /* Optional for visual feedback */
}

.research-list:hover li {
    color: var(--accent-color);
    transition: color 0.3s ease;
}


.research-list li {
    margin-bottom: 0.8rem;
    font-size: 1rem;
    color: var(--text-muted);
}


/* Footer Styles */
.research-footer {
    background-color: var(--background-dark);
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    border-top: 5px solid var(--accent-color);
}

.research-footer a {
    color: var(--accent-color);
    text-decoration: none;
}

.research-footer a:hover {
    text-decoration: underline;
}

/* Media Queries */
@media (max-width: 768px) {
    .research-container {
        padding: 1rem;
    }

    .research-header h1 {
        font-size: 1.5rem;
    }

    .research-header .subtitle {
        font-size: 1rem;
    }

    .research-section h2 {
        font-size: 1.5rem;
    }

    .research-section p, .research-list li {
        font-size: 0.9rem;
    }
}


