@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&family=Atkinson+Hyperlegible:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url("https://www.nerdfonts.com/assets/css/webfont.css") ; 

  .atkinson {
    font-family: 'Atkinson Hyperlegible', sans-serif;
  }
  
  .jetbrains {
    font-family: 'JetBrains Mono', monospace;
  }

  :root {
    /* Background Colors */
    --background-alt: #010101; /* Slightly lighter black for contrast */
    --background-color: #0d0d0d; /* Deep black for main background */
    --mid-grey: #565656; /* Slightly lighter dark grey for sections/cards */
    --light-grey: #989898; /* Lighter grey for contrast */
    --grey: #232323 ; 

    /* Accent Colors */
    --accent-color: #64ffda; /* Vibrant cyan for primary highlights */
    ---accent-color-2: #82ffe4;--accent-color-2: #82ffe4;
    
    /* Text Colors */
    --text-color: #f8f8f2; /* Off-white for primary text */
    --text-muted: #a8a8a8; /* Muted grey for secondary/subtle text */

    /* Additional Colors */
    --success-color: #28a745; /* Vibrant green for success messages/icons */
    --warning-color: #ffc107; /* Bright yellow for warnings */
    --error-color: #dc3545; /* Bold red for errors */
    
    /* Fonts */
    --font-main: 'JetBrains Mono', monospace;
    --font-secondary: 'Atkinson Hyperlegible', sans-serif;
}


/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(32, 32, 32);
    background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, rgba(0,0,0,1)), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
    background-size: 100% 100%, 10px 10px, 10px 10px, 10px 5px;
    background-position: 0px 0px, 0px 0px, 5px 5px, 0px 0px;
    color: var(--accent-color);
    font-family: var(--font-main);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

::selection {
    background-color: var(--accent-color); /* Highlight background */
    color: var(--background-alt); /* Highlighted text color */
}

::-moz-selection {
    background-color: var(--accent-color); /* Highlight background for Firefox */
    color: var(--background-alt); /* Highlighted text color for Firefox */
}

